@import "normalize";

@import "cust-normalize";

@import "contact";

h2 {
  @include section-header();
  color: $blue;
  margin-left: -20px;
  span {
    border: 1px solid $blue;
    border-left: 0; border-right: 0;
  }
}

.clear:before,
.clear:after {
  content:' ';
  display:table;
}
.clear:after {
  clear:both;
}
.clear {
  *zoom:1;
}

.double-rules {
  padding: 3px;
  display: inline-block;
  border: 1px solid $blue;
  border-left: 0; border-right: 0;
  color: $blue;
  & > span {
    padding: 10px 40px 10px 10px;
    display: inline-block;
    border: 1px solid $blue;
    border-left: 0; border-right: 0;
  }
}

.outer {
  padding: 3px;
  display: inline-block;
  border: 1px solid $blue;
  border-left: 0; border-right: 0;
}
.inner {
  padding: 10px 40px 10px 10px;
  display: inline-block;
  border: 1px solid $blue;
  border-left: 0; border-right: 0;
}