footer {
  width: 100%;
  height: $footer-height;
  position: absolute;
  bottom: 0;
  background: $grey-dark;
  z-index: 20;
  text-align: center;
}

.footer {
  width: 92%;
  height: 100%;
  margin: 0 4%;
  padding: 0;
  border-top: 1px solid rgba(255,255,255,0.1);
  font: normal 300 1.5rem/1.4 $text-code;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  a {
    color: $grey-light;
    font-weight: 300;
    transition: color 0.5s ease;
    &:hover {
      color: #fff;
    }
  }
  li {
    display: inline-block;
    text-align: center;
    line-height: 1.4;
    &:first-child a {
      padding-left: 0;
    }
    &:after {
      padding: 0 10px 0 14px;
      content: "\2022";
      color: $grey;
    }
    &:last-child:after {
      display: none;
    }
    &.email-link {
      margin-bottom: 10px;
      display: block;
      &:after {
        content: "";
        padding: 0;
      }
    }
  }
  @include respond-to($break-mid-small){
    // padding: 0;
    text-align: left;
    line-height: 90px;
    li.email-link {
      margin-bottom: 0;
      display: inline-block;
      &:after {
        content: "\2022";
        padding: 0 10px 0 14px;
      }
    }
  }
}
