/* line 3, ../scss/base.scss */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* html element 62.5% font-size for REM use */
/* line 11, ../scss/base.scss */
html {
  font-size: 62.5%;
}

/* line 14, ../scss/base.scss */
body {
  font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #444;
}

/* clear */
/* line 20, ../scss/base.scss */
.clear:before,
.clear:after {
  content: ' ';
  display: table;
}

/* line 25, ../scss/base.scss */
.clear:after {
  clear: both;
}

/* line 28, ../scss/base.scss */
.clear {
  *zoom: 1;
}

/* line 31, ../scss/base.scss */
img {
  max-width: 100%;
  vertical-align: bottom;
}

/* line 35, ../scss/base.scss */
a {
  color: #444;
  text-decoration: none;
}

/* line 39, ../scss/base.scss */
a:hover {
  color: #444;
}

/* line 42, ../scss/base.scss */
a:focus {
  outline: 0;
}

/* line 46, ../scss/base.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 49, ../scss/base.scss */
input:focus {
  outline: 0;
  border: 1px solid #04A4CC;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/
/* line 58, ../scss/base.scss */
body {
  background: #ccc;
}

/* wrapper */
/* line 63, ../scss/base.scss */
.wrapper {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
  position: relative;
}

/* header */
/* logo */
/* nav */
/* sidebar */
/* footer */
/*------------------------------------*\
    PAGES
\*------------------------------------*/
/*------------------------------------*\
    IMAGES
\*------------------------------------*/
/*------------------------------------*\
  TYPOGRAPHY
\*------------------------------------*/
@font-face {
  font-family: 'Font-Name';
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"), url("fonts/font-name.woff") format("woff"), url("fonts/font-name.ttf") format("truetype"), url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
/*------------------------------------*\
    MISC
\*------------------------------------*/
/* line 151, ../scss/base.scss */
::selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}

/* line 156, ../scss/base.scss */
::-webkit-selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}

/* line 161, ../scss/base.scss */
::-moz-selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
/* line 171, ../scss/base.scss */
.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 175, ../scss/base.scss */
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

/* line 179, ../scss/base.scss */
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

/* line 183, ../scss/base.scss */
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/* line 187, ../scss/base.scss */
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

/* line 191, ../scss/base.scss */
a img.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 194, ../scss/base.scss */
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/* line 198, ../scss/base.scss */
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 203, ../scss/base.scss */
.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

/* line 210, ../scss/base.scss */
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 213, ../scss/base.scss */
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

/* line 216, ../scss/base.scss */
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

/* line 219, ../scss/base.scss */
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

/* line 228, ../scss/base.scss */
.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/*------------------------------------*\
    PRINT
\*------------------------------------*/
@media print {
  /* line 246, ../scss/base.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 253, ../scss/base.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 256, ../scss/base.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 259, ../scss/base.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 264, ../scss/base.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 267, ../scss/base.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 271, ../scss/base.scss */
  thead {
    display: table-header-group;
  }

  /* line 274, ../scss/base.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 277, ../scss/base.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 285, ../scss/base.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 290, ../scss/base.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
