$footer-height: 50px;

.wrapper {
  padding-bottom: $footer-height;
  overflow: hidden;
}

.coder {
  .menu-button, .menu-overlay {
    display: none;
  }
} 

.header-holder {
  height: 100vh;
  position: relative;
  background: url('imgs/coder_landing2.jpg') no-repeat center center fixed;
  background-size: cover;
  header {
    margin: auto;
    color: #ffffff;
    text-align: center;
    @include vertical-align;
    top: 40%;
    .holder {
      margin: 0;
      padding: 3px;
      display: inline-block;
      position: relative;
      text-align: center;
      border: 1px solid rgba(255,255,255,0.5);
      border-left: 0; border-right: 0;
      h1 {
        width: 100%;
        margin: 0;
        display: inline-block;
        font-family: $sans2;
        font-size: 4.5rem;
        -webkit-font-smoothing: antialiased;
        font-weight: 600;
        text-align: center;
        line-height: 1.1;
        display: inline-block;
        text-align: center;
        border-top: 1px solid rgba(255,255,255,0.5);
        text-shadow: -1px 1px 5px #000;
        .text-name {
          margin-left: -0.2em;
          padding: 40px 30px 0;
          text-align: left;
          display: inline-block;
          letter-spacing: 0.1em;
        }
        span {
          display: inline-block;
          &:before {
            content: "\a";
          }
          &.last-name {
            position: relative;
            left: 16px;
          }
        }
      }
      p {
        margin: 0;
        padding: 5px 0 50px;
        display: inline-block;
        text-align: left;
        font-family: $sans2;
        font-size: 2.9rem;
        line-height: 1.2;
        color: #fff;
        text-shadow: -1px 1px 5px #000;
        span:after {
          content: "\a";
        }
      }
    }
    &:after {
      content: '';
      clear: both;
      display: block;
    }
  }
}

nav.main-nav {
  margin: 0;
  border: 1px solid rgba(255,255,255,0.5);
  border-left: 0; border-right: 0;
  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      margin: 5px 0;
      display: inline-block;
      text-align: center;
      a {
        padding: 15px;
        display: inline-block;
        font-family: $sans2;
        font-weight: 700;
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        line-height: 1;
        cursor: pointer;
        color: #fff;
        text-shadow: -1px 1px 5px #000;
      }
    }
  }
}

.main-holder {
  margin: 0;
  position: relative;
  .container {
    margin: 0;
    margin-top: -5%;
    padding-top: 3%;
    position: relative;
    transform: skewY(-3deg);
    border-left: 0; border-right: 0;
    overflow: hidden;
    z-index: 10;
    text-align: right;
    background: $grey url(imgs/strip.gif) fixed;
    h2 {
      margin: 0 -20px 23px 0;
      padding: 3px;
      display: inline-block;
      border: 1px solid $blue;
      border-left: 0; border-right: 0;
      color: $blue;
      font-family: $sans2;
      font-weight: 300;
      font-size: 3rem;
      letter-spacing: 0.1em;
      text-align: right;
      span {
        width: 100%;
        height: 100%;
        padding: 10px 10px 10px 80px;
        display: inline-block;
        vertical-align: middle;
        border: 1px solid $blue;
        border-left: 0; border-right: 0;
      }
    }
  }
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: transparentize($blue,0.6);
    transform: skewY(3deg);
    z-index: 5;
  }
}

$thumb-height: 260px;

.work {
  width: 85%;
  margin-top: -1%;
  margin-left: 15%;
  padding: 0 5% 5%;
  position: relative;
  transform: skewY(3deg);
  z-index: 10;
  .holder {
    @include container;
    max-width: 1200px;
    margin: auto;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .thumbnails {
    width: 100%;
    height: $thumb-height;
    margin: auto;
    padding: 1%;
    a {
      width: 100%;
      height: 100%;
      display: inline-block;
      position: relative;
      overflow: hidden;
      font-family: $sans2;
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.1em;
      text-align: center;   
      &:after {
        content: "See the work";
        width: 100%;
        height: 100%;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        background: transparentize($grey,0.5);
        color: $blue;
        line-height: $thumb-height;
        text-align: center;
        opacity: 0;
        filter: blur(10px);
        transition: opacity 0.5s ease, background 0.5s ease, -webkit-filter 0.75s ease;
      }
    }
    .thumbnails-bg {
      height: 100%;
      margin-top: -1px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      box-sizing: border-box;
      box-shadow: inset 0px 0px 0px 15px $grey;
      filter: brightness(50%);
      transition: brightness 0.5s ease, box-shadow 0.4s ease;
    }
    &:hover{
      a:after {
        opacity: 1;
        filter: blur(0px);
        background: transparent;
      }
      .thumbnails-bg {
        filter: brightness(100%);
        box-shadow: inset 0 0 0 30px $blue;
      }
    }
  }
  &:after {
    content: "";
    width: 80%;
    height: 100%;
    position: absolute;
    top: -8%;
    right: 0;
    background: rgba(0,0,0,0.2);
    z-index: -10;
  }
  @include respond-to(600px){
    .thumbnails {
      @include gallery(6);
    }
  }
  @include respond-to(tablet){
    .thumbnails {
      @include gallery(6);
    }
  }
  @include respond-to(desktop){
    .thumbnails {
      @include gallery(6);
    }
  }
}

.skills {
  padding-top: 50px;
  transform: skewY(10deg);
  background: #ccc;
  .holder {
    @include container;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 0 300px;
    transform: skewY(-5deg);
    &:after {
      content: '';
      clear: both;
      display: block;
    }
  }
  h2 {
    transform: skewY(-5deg);
  }
  ul {
    width: 100%;
    padding: 0;
    &.platforms li:not(.list-head) {
  
    }
  }
  li {
    margin-bottom: 10px;
    text-align: center;
    font-family: $sans2;
    font-size: 1.6rem;
    font-weight: 300;
    &.list-head {
      display: block;
      font-size: 1.3rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    .sub-line {
      font-size: 1.3rem;
      display: block;
    }
  }
  @include respond-to(600px){
    ul {
      @include span(6);
      &:last-child {
        width: 100%;
      }
    }
  }
  @include respond-to(tablet){
    ul, ul:last-child {
      @include span(4);
    }
  }
}

.intro-text {
  width: 100%;
  margin: -200px auto -50px;
  padding: 100px 0;
  text-align: center;
  background: blue;
  font-size: 2rem;
  font-family: $sans2;
  color: #ffffff;
  transform: skewY(0deg);
  p {
     transform: skewY(5deg);
  }
}

.contact-form {
  form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    transform: skewY(5deg);
    input, textarea {
      width: 96%;
      max-width: 600px;
      margin: 20px 0;
      padding: 2%;
      display: block;
      background: rgba(255,255,255,0.5);
      border: 0;
      box-sizing: content-box;
      transition: background 1s ease;
    }
    input:first-child {
      margin-top: 0;
    }
    textarea {
      height: 100px;
    }
    input[type=text], textarea, ::-webkit-input-placeholder, .submit-button {
      font-family: $sans2;
      font-size: 2rem;
      color: #000;
    }
    input.submit-button {
      margin-bottom: 0;
      font-family: $serif;
      font-size: 2.3rem;
      text-transform: uppercase;
      background: transparent;
      border: 0;
      letter-spacing: 0.1em;
      transition: color 0.75s ease, background 0.5s ease;
      &:hover {
        background: #000;
        color: #fff;
      }
    }
    input:focus, input:active, textarea:focus, textarea:active {
      margin-left: -3px;
      margin-top: -2px;
      border: 0;
      background: #fff;
      outline: none;
    }
  }
}

.footer {
  width: 100%;
  height: $footer-height;
  margin-top: -50px;
  padding: 30px 0;
  background: #000000;
  color: #ffffff;
  position: absolute;
  bottom: 0;
}