.contact {
  width: 100%;
  height: auto;
  margin-top: -2%;
  margin-bottom: -$footer-height;
  padding: 5% 0 23% 0;
  position: relative;
  top: -30px;
  background: $grey-dark;
  z-index: 20;
  transform: skewY($skew);
  .holder {
    padding: 0 5% 4%;
    position: relative;
    @include container;
    max-width: 1000px;
    transform: skewY(-$skew);
  }
  .about-me, .contact-form {
    @include span(12);
  }
  .header-footer {
    color: $blue;
    .outer, .inner {
      border-color: $blue;
    }
  }
  .about-me {
    padding-right: 7%;
    font: normal 300 1.6rem/1.7 $text-code;
    text-align: left;
    color: $grey-light;
  }
  .contact-form {
    background: $grey;
  }
  @include respond-to($break-mid-small){
    .about-me {
      margin-bottom: 0;
    }
    .submit-button {
      &:hover {
        color: #fff;
        box-shadow: inset 0 0 0 70px #000;
      }
    }
  }
  @include respond-to(tablet){
    padding-bottom: 18%;
    .about-me, .contact-form {
      @include span(6);
    }
  }
}

.footer {    
  border-color: $grey !important;
  a {
    color: $grey-light !important;
  }
}

