# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

wp-config.php

dev/

wp-content/uploads/*
wp-content/themes/loudart/.sass-cache/*

.htaccess