# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

wp-config.php
search-replace.php
wp-admin/*
wp-includes/*

wp-content/plugins/*
wp-content/upgrade/*
wp-content/uploads/*
wp-content/themes/loudart/.sass-cache/*
wp-content/themes/loudart/node_modules/*
wp-content/themes/loudart/Gruntfile.js

dev/
.htaccess