@import "resume";

.landing-link {
  min-width: 100px;
  padding: 30px;
  display: block;
  font: normal 100 4rem/0.9 $text-code;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.35);
  transition: color 0.5s ease, text-shadow 0.5s ease;
  span {
    display: inline-block;
    transition: transform 0.5s ease;
  }
  @include respond-to(tablet){
    font-size: 5rem;
    &:hover {
      color: $blue;
      text-shadow: 0 0 0 rgba(0,0,0,0);
      span {
        transform: scale(1.1, 1.1);
      }
    }
  }
}

.landing-button {
  width: 100%;
  text-align: center;
  position: relative;
  bottom: -50px;
  z-index: 100;
  a {
    color: $grey;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    font-weight: 700;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    transition: color 0.5s ease;
  }
  span {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    &:after {
      @include arrow-icon(0deg);
      margin: 10px auto 0;
      color: $grey;
      transition: opacity 0.5s ease, margin 0.5s ease;
    }
  }
  @include respond-to($break-mid-small){
    span:after {
      margin: 0 auto 0;
      opacity: 0;
    }
    a:hover {
      color: $blue;
      text-shadow: none;
      span {
        &:after {
          margin-top: 10px;
          opacity: 1;
          color: $blue;
        }
      }
    }
  }
}

.arrow-holder {
  width: 100%;
  position: relative;
  bottom: -30px;
  left: 0;
  z-index: 10;
}

.arrow-down {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  display: block;
  background: rgba(255,255,255,0.3);
  border: 2px solid transparent;
  transition: border-color 0.5s ease, background 0.5s ease;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
  span {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    &:after {
      @include arrow-icon(0deg);
      margin: auto;
      position: relative;
      transition: color 0.5s ease;
      line-height: 60px;
      vertical-align: middle;
      color: $grey-dark;
    }
  }
  @include respond-to($break-mid-small){
    &:hover {
      background: transparent;
      border-color: $blue;
      span {
        border-color: $blue;
        @include bounce;
        &:after {
          color: $blue;
        }
      }
    }
  }
}