.resume-circle {
  width: 130px;
  height: 130px;
  margin: 10px auto;
  padding: 25px;
  display: block;
  position: relative;
  border: 1px solid $grey-light;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  // &:before {
  //   content: "";
  //   height: 70%;
  //   margin: 0 auto;
  //   position: relative;
  //   display: block;
  //   opacity: 0.7;
  //   z-index: 50;
  //   transition: opacity 0.5s ease;
  //   background: url(../_inc/imgs/icon-resume.svg) no-repeat center center / auto 90%;
  // }
}

.resume-path {
  fill: $grey-light;
}
