@import url(http://fonts.googleapis.com/css?family=Droid+Serif|Nunito:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Neuton:200,300,400,700,800,400italic);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,500,700,800,900,100italic,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);

@font-face {
  font-family: 'Arrow';
  src:url('../_inc/fonts/arrow.eot');
  src:url('../_inc/fonts/arrow.eot') format('embedded-opentype'),
    url('../_inc/fonts/arrow.woff') format('woff'),
    url('../_inc/fonts/arrow.ttf') format('truetype'),
    url('../_inc/fonts/arrow.svg#arrow') format('svg');
  font-weight: normal;
  font-style: normal;
}