$animate-distance: 50px;

.artwork-holder {
  width: 100%;
  margin: 0 0 15%;
  padding: 0;
}

.art-holder {
  width: 100%;
}

.art-img {
  width: 50%;
  height: 200px;
  margin: 0;
  display: block;
  text-align: center;
  float: left;
  overflow: hidden;
  a {
    width: 100%;
    display: inline-block;
    transition: box-shadow 0.5s ease;
    box-sizing: content-box;
    border: 0px solid transparent;
    background: #fff;
    overflow: hidden;
  }
  span {
    padding: 10px;
    display: block;
    box-sizing: border-box;
  }
  img {
    width: auto;
    height: 100%;
    max-width: none;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  @include respond-to($break-mid-small){
    float: none;
    width: 30%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.art-grid-sizer {
  width: 50%;
  clear: both;
  @include respond-to($break-mid-small){
    width: 33%;
  }
}