.page-home {
  .contact-form input, .contact-form textarea {
    max-width: none;
  }
}

.contact-holder {
  padding: 0 5%;
  position: relative;
  @include container;
  max-width: 1000px;
  transform: skewY(-$skew);
}
  .web-contact {
    @include span(12);
    @include respond-to($break-mid-small){
      @include span(6);
    }
  }


.footer {
  width: 92%;
  height: 100%;
  margin: 0 4%;
  padding: 20px 0 0;
  border-top: 1px solid $grey-dark;
  font: normal 300 1.5rem/1.4 $text-code;
  color: $grey-dark;
  vertical-align: middle;
  display: inline-block;
  a {
    color: $grey-dark;
    font-weight: 300;
    transition: color 0.5s ease;
    &:hover {
      color: $blue;
    }
  }
  li {
    display: inline-block;
    text-align: center;
    line-height: 1.4;
    &:first-child a {
      padding-left: 0;
    }
    &:after {
      padding: 0 10px 0 14px;
      content: "\2022";
      color: $grey;
    }
    &:last-child:after {
      display: none;
    }
    &.email-link {
      margin-bottom: 10px;
      display: block;
      &:after {
        content: "";
        padding: 0;
      }
    }
  }
  @include respond-to($break-mid-small){
    padding: 0;
    text-align: left;
    line-height: 90px;
    li.email-link {
      margin-bottom: 0;
      display: inline-block;
      &:after {
        content: "\2022";
        padding: 0 10px 0 14px;
      }
    }
  }
}

footer {
  width: 100%;
  height: $footer-height;
  position: absolute;
  bottom: 0;
  background: $grey-dark;
  z-index: 20;
  text-align: center;
}
