.work {
  background: $grey-dark;
  transform: skewY($skew);
  position: relative;
  z-index: 50;
  &.page-section {
    width: 100%;
    padding-top: 3%;
    position: relative;
  }
}

.work-holder {
  max-width: 1000px;
  margin: auto;
  padding-bottom: 6%;
  .holder {
    @include container;
    margin: 2% 0 8%;
    padding: 0 5%;
    transform: skewY(-($skew * 2));
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}

#webwork {
  padding-top: 40px;
}

#artwork {
  padding-top: 58px;
}