.content {
  width: 7000px;
  margin: 0 auto;
  padding: 0;
  white-space: nowrap;
}

.introduction {
  padding: 20px;
  position: relative;
  .logo-title {
    @include vertical-align;
    padding: 30px;
    text-align: center;
    img {
      width: 450px;
      margin: auto;
      padding: 10px;
      display: block;
    }
    p {
      margin: -60px auto 0;
      display: inline-block;
      position: relative;
      left: 2%;
      padding: 10px 20px;
      border: 1px solid #000;
      font-size: 2.5rem;
      span {
        font-size: 2rem;
      }
    }
  }
  .front-footer {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    p {
      height: 100%;
      margin: 0;
      text-align: center;
      font-family: $serif;
      font-size: 2rem;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      .front-arrow {
        content: '';
        width: 30px;
        height: 80px;
        position: absolute;
        bottom: -30px;
        right: -20px;
        transition: opacity 0.5s ease;
        opacity: 0;
        background: url('imgs/but_arrow.svg') no-repeat center center;
      }
      a {
        height: 100%;
        display: table-cell;
        position: relative;
        line-height: 100%;
        vertical-align: middle;
      }
      .front-line {
        width: 0;
        content: ' ';
        display: inline-block;
        position: relative;
        bottom: 7px;
        left: 5px;
        opacity: 0;
        border-top: 1px solid #000;
        transition: width 0.5s ease, opacity 0.5s ease;
      }
    }
    &:hover {
      .front-line {
        width: 80px;
        opacity: 1;
      }
      .front-arrow {
        opacity: 1;
      }
    }
  }
  .front-email {
    margin: 0;
    font-family: $serif;
    font-size: 1.5rem;
    position: absolute;
    left: 20px;
    top: 20px;
  }
}

.main-holder {
  margin-top: 100px;
}

.header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}

.page {
  width: 100vw;
  height: 100vh;
  display: inline-block;
  vertical-align: top;
  opacity: 0.25;
  transition: opacity 0.5s ease;
  position: relative;
  z-index: 10;
  overflow: hidden;
  &.active-custom {
    opacity: 1;
  }
  &.active {
    opacity: 1;
  }
}

.bg-parallax {
  width: 7000px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  div {
    width: 7000px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: url('imgs/bg.gif');
    background-position: fixed;
  }
}

.about {
  height: 400px;
  @include vertical-align;
  .photo {
    width: 300px;
    margin: 0 auto 20px;
  }
  p {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    &:first-child {
      margin-top: 30px;
      padding-top: 20px;
      border-top: 1px solid #000;
    }
    &.email {
      font-family: $serif;
      font-size: 1.9rem;
      letter-spacing: 0.1em;
    }
  }
}
