.content {
  width: 7000px;
  margin: 0 auto;
  padding: 0;
  white-space: nowrap;
}

.header-holder {
  padding: 20px;
  @include vertical-align;
  .logo-title {
    padding: 30px;
    display: block;
  }
  hr {
    position: relative;
    bottom: 80px;
    border:0;
    
  }
  h1 {
    display: inline-block;
    font-family: $serif;
    font-size: 3rem;
  }
  img {
    width: 300px;
    margin: auto;
    padding: 10px;
    display: block;
  }
  p {
    margin: 10px 0;
    padding-top: 20px;
    text-align: center;
    font-family: $sans;
    font-size: 2rem;
    letter-spacing: 0.15em;
    &.front-email {
      margin-top: 50px;
      font-family: $serif;
      font-size: 1.5rem;
    }
  }
}

.main-holder {
  margin-top: 100px;
}

.header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}

.page {
  width: 100vw;
  height: 100vh;
  display: inline-block;
  vertical-align: top;
  opacity: 0.25;
  transition: opacity 0.5s ease;
  position: relative;
  z-index: 10;
  overflow: hidden;
  &.active-custom {
    opacity: 1;
  }
  &.active {
    opacity: 1;
  }
}

.bg-parallax {
  width: 7000px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  div {
    width: 7000px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: url('imgs/bg.gif');
    background-position: fixed;
  }
}

.about {
  height: 400px;
  @include vertical-align;
  .photo {
    width: 300px;
    margin: 0 auto 20px;
  }
  p {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    &:first-child {
      margin-top: 30px;
      padding-top: 20px;
      border-top: 1px solid #000;
    }
    &.email {
      font-family: $serif;
      font-size: 1.9rem;
      letter-spacing: 0.1em;
    }
  }
}
