@import "susy";

$susy: (
  columns: 12,
  container: 100%,
  gutters: 2,
);

@import "variables";

//@import "jquery.mmenu.all";
@import "menu";

//@import "featherlight";

@import "lightGallery";

#lightGallery-outer {
  .lb-caption {
    width: 50%;
    height: auto;
    margin: 0 0;
    padding: 16px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    color: #fff;
    line-height: 1;
    text-align: left;
    font-family: $serif;
    font-weight: normal;
    z-index: 200;
    white-space: normal;
  }
}

#lightGallery-action {
  width: 100%;
  bottom: 0;
  left: 0;
  margin-left: 0;
}

#lightGallery-action a {
  &#lightGallery-prev {
    left: 0;
  }
  &#lightGallery-next {
    right: 0;
  }
}

#lightGallery-Gallery.opacity .lightGallery-slide .object {
  height: 80%;
  transform: scale3d(1, 1, 1);
}

#lightGallery-action a#lightGallery-prev:before {
  content: " ";
}

#lightGallery-action a#lightGallery-next:after {
  content: " ";
}

@import "normalize";

@import "base";

@import "globals";

@import "front";

@import "artwork";

@import "buttons";