h1.art-title {
  font: normal 400 3rem/1 $title-art;
  color: $grey-dark;
  .double-rules {
    margin-top: 20px;
    border-color: $grey-dark;
    border-bottom: 0;
    & > span {
      color: $grey-dark;
      padding: 25px 20px 0px 13px;
      border-color: $grey-dark;
      border-bottom: 0;
      .fix {
        padding: 0;
        font-size: 0.8em;
        position: relative;
        bottom: 0px;
      }
    }
  }
  .text-piece {
    margin: 0;
    padding: 0 0 10px 20px;
    display: block;
    &.name {
      padding-top: 20px;
      font-size: 1.8rem;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
    &.bottom {
      padding-left: 17px;
      text-transform: capitalize;
    }
  }
}