.resume-text, .contact-info {
  color: $grey-light;
  text-align: center;
  font: normal 300 3rem/1 $text-code;
  a {
    color: $grey-light;
  }
}

.contact-info {
  width: 200px;
  margin: 10px 0;
  display: inline-block;
  a {
    text-align: center;
  }
}

.header-footer {
  margin-bottom: 50px;
  color: $blue;
  text-align: center;
  .outer, .inner {
    border-color: $blue;
  }
  @include respond-to($break-mid-small){
    h2 {
      text-align: left;
    }
  }
}