.skills {
  h2 {
    margin: 40px 0 30px;
    border-color: $red;
    text-align: center;
    span {
      color: $red;
      border-color: $red;
    }
  }
  li {
    text-align: left;
    font: normal 300 1.3rem/1.2 $text-code;
    color: $grey;
    &.list-head {
      font-weight: 700;
      font-size: 1.8rem;
      letter-spacing: 0.05em;
      background: transparentize($red, 0.5);
      color: $grey-light;
    }
    .sub-line {
      font-size: 1.3rem;
    }
  }
  @include respond-to($break-mid-small){
    h2 {
      text-align: left;
    }
  }
}
