.thumb-text {
  width: 100%;
  display: block;
  position: absolute;
  top: 8%;
  text-align: center;
  transform: skewY($skew);
  font: normal 300 1.9rem/150px $text-code;
  letter-spacing: 0.1em;
  text-align: center;
  color: $blue;
  opacity: 0;
  &.action {
    font-size: 1.7rem;
  }
  &.title {
    opacity: 1;
    color: $grey-light;
  }
}