.work h2 {
  margin-bottom: 20px;
  clear: both;
  color: $blue;
  transform: skewY(-$skew);
  text-align: center;
  .outer, .inner {
    border-color: $blue;
  }
  @include respond-to($break-mid-small){
    margin-left: 6%;
    text-align: left;
  }
}
