@import "landing";

@import "artwork";

.content {
  overflow: hidden;
  background: url('imgs/bg.gif');
}

.clear-row {
  margin-top: 100px;
  margin-bottom: 40px;
  text-align: center;
  & > span {
    padding: 10px 20%;
    display: inline-block;
    border-top: 1px solid $grey-dark;
    border-bottom: 0;
    color: $grey-dark;
  }
  &.heavy-pen-work-rule {
    margin-top: 0;
  }
}