.introduction {
  height: 100vh;
  padding: 20px;
  position: relative;
  margin-top: -$border-width;
  .title-holder {
    margin-top: -10%;
    @include vertical-align;
  }
  h1 {
    font-family: $sans2;
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: $grey-dark;
    span {
      margin: 0;
      &.name, &.ill {
        display: block;
        font-size: 3.2rem;
      }
    }
    // @include respond-to(tablet){
    //   font-size: 5.7rem;
    // }
  }
  .pp {
    margin: 20px 0;
    display: block;
    font-family: $serif;
    font-size: 4.5rem;
    span {
      border-color: $grey-dark;
    }
    .double-rules > span {
      padding: 10px 20px;
    }
    .fix {
      padding: 0;
      font-size: 0.6em;
      position: relative;
      bottom: 5px;
    }
  }
  .front-email {
    margin: 0;
    font-family: $sans;
    font-size: 1.5rem;
    position: absolute;
    left: 20px;
    top: 20px;
  }
  @include respond-to($break-mid-small){
    margin-top: -$border-width * 2;
  }
}

.page-art {
  .arrow-down {
    &:hover {
      border-color: $grey-dark;
      span:after {
        border-color: $grey-dark;
      }
    }
    a {
      color: $grey-dark;
    }
    span:after {
      border-color: $grey-dark;
    }
  }
}