$footer-height: 50px;

.wrapper {
  padding-bottom: $footer-height;
  overflow: hidden;
}

.coder {
  .menu-button, .menu-overlay {
    display: none;
  }
} 

.header-holder {
  height: 100vh;
  position: relative;
  background: url('imgs/coder_landing2.jpg') no-repeat center center fixed;
  background-size: cover;
  header {
    margin: auto;
    color: #ffffff;
    text-align: center;
    @include vertical-align;
    top: 40%;
    .holder {
      margin: 0;
      padding: 0 40px 40px;
      display: inline-block;
      position: relative;
      text-align: left;
      background: rgba(0,0,0,0.7);
      h1 {
        margin: 0;
        padding: 40px 0;
        display: inline-block;
        font-family: $sans2;
        font-size: 4.7rem;
        -webkit-font-smoothing: antialiased;
        font-weight: 200;
        text-align: left;
        line-height: 0.9;
        text-transform: uppercase;
        span {
          letter-spacing: 0.1em;
          &:before {
            content: "\a";
          }
          &.last-name {
            position: relative;
            left: 19px;
          }
        }
      }
      p {
        margin: 0;
        padding-top: 10px;
        display: inline-block;
        text-align: left;
        font-family: $sans2;
        font-size: 1.8rem;
        opacity: 0.75;
        line-height: 1.2;
        border-top: 1px solid rgba(255,255,255,0.5);
        span:after {
          content: "\a";
        }
      }
    }
    &:after {
      content: '';
      clear: both;
      display: block;
    }
  }
}

nav.main-nav {
  height: 100%;
  margin: 0;
  z-index: 10;
  position: absolute;
  right: 300px;
  top: 0;
  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    @include vertical-align;
    li {
      margin: 5px 0;
      text-align: right;
      a {
        padding: 20px;
        display: inline-block;
        font-family: $sans2;
        font-weight: 700;
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: right;
        letter-spacing: 0.1em;
        line-height: 1;
        cursor: pointer;
        color: #fff;
        text-shadow: rgba(0,0,0,1) 0 1px 5px;
      }
    }
  }
}

.main-holder {
  margin: 0;
  position: relative;
  .container {
    margin: 0;
    margin-top: -8%;
    padding-top: 5%;
    transform: skewY(-3deg);
    background: #1e1e1e;
    border: 2px solid #454444;
    border-left: 0; border-right: 0;
    h2 {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 0 auto;
      color: #1e1e1e;
      font-family: $serif2;
      font-weight: 400;
      //text-transform: uppercase;
      font-size: 3rem;
      line-height: 140px;
      vertical-align: middle;
      //letter-spacing: 0.2em;
      text-align: center;
      background: #3061a5;
      span {
        vertical-align: middle;
      }
    }
  }
}

.work {
  //margin-top: -12%;
  .holder {
    @include container;
    max-width: 1200px;
    margin: auto;
    padding: 5%;
    transform: skewY(3deg);
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .thumbnails {
    width: 100%;
    margin: auto;
    padding: 2%;
    height: 240px;
    .thumbnails-bg {
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
   h2 {
    transform: skewY(5deg);
  }
  @include respond-to(600px){
    .thumbnails {
      @include gallery(6);
    }
  }
  @include respond-to(tablet){
    .thumbnails {
      @include gallery(6);
    }
  }
  @include respond-to(desktop){
    .thumbnails {
      @include gallery(4);
    }
  }
}

.skills {
  padding-top: 50px;
  transform: skewY(10deg);
  background: #ccc;
  .holder {
    @include container;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 0 300px;
    transform: skewY(-5deg);
    &:after {
      content: '';
      clear: both;
      display: block;
    }
  }
  h2 {
    transform: skewY(-5deg);
  }
  ul {
    width: 100%;
    padding: 0;
    &.platforms li:not(.list-head) {
  
    }
  }
  li {
    margin-bottom: 10px;
    text-align: center;
    font-family: $sans2;
    font-size: 1.6rem;
    font-weight: 300;
    &.list-head {
      display: block;
      font-size: 1.3rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    .sub-line {
      font-size: 1.3rem;
      display: block;
    }
  }
  @include respond-to(600px){
    ul {
      @include span(6);
      &:last-child {
        width: 100%;
      }
    }
  }
  @include respond-to(tablet){
    ul, ul:last-child {
      @include span(4);
    }
  }
}

.intro-text {
  width: 100%;
  margin: -200px auto -50px;
  padding: 100px 0;
  text-align: center;
  background: blue;
  font-size: 2rem;
  font-family: $sans2;
  color: #ffffff;
  transform: skewY(0deg);
  p {
     transform: skewY(5deg);
  }
}

.contact-form {
  form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    transform: skewY(5deg);
    input, textarea {
      width: 96%;
      max-width: 600px;
      margin: 20px 0;
      padding: 2%;
      display: block;
      background: rgba(255,255,255,0.5);
      border: 0;
      box-sizing: content-box;
      transition: background 1s ease;
    }
    input:first-child {
      margin-top: 0;
    }
    textarea {
      height: 100px;
    }
    input[type=text], textarea, ::-webkit-input-placeholder, .submit-button {
      font-family: $sans2;
      font-size: 2rem;
      color: #000;
    }
    input.submit-button {
      margin-bottom: 0;
      font-family: $serif;
      font-size: 2.3rem;
      text-transform: uppercase;
      background: transparent;
      border: 0;
      letter-spacing: 0.1em;
      transition: color 0.75s ease, background 0.5s ease;
      &:hover {
        background: #000;
        color: #fff;
      }
    }
    input:focus, input:active, textarea:focus, textarea:active {
      margin-left: -3px;
      margin-top: -2px;
      border: 0;
      background: #fff;
      outline: none;
    }
  }
}

.footer {
  width: 100%;
  height: $footer-height;
  margin-top: -50px;
  padding: 30px 0;
  background: #000000;
  color: #ffffff;
  position: absolute;
  bottom: 0;
}