@import "landing";

@import "artwork";

.page-art {
  border: $border-width solid $grey-dark;
  z-index: 10;
  .content {
    overflow: hidden;
  }
  .landing-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url('imgs/bg.gif');
  }
  .arrow-down {
    background: transparentize($grey-dark,0.5);
    transition: background-color 0.5s ease, color 0.5s ease;
    span:after {
      color: #fff;
    }
    span:after {
      @include arrow-icon(0deg);
      text-align: center;
      transition: color 0.5s ease;
      -webkit-font-smoothing: antialiased;
    }
    &:hover {
      background: transparent;
      border-color: $grey-dark;
      span:after {
        color: $grey-dark;
      }
    }
  }
  footer, .contact  {
    background: transparent;
  }
}

.clear-row {
  margin-top: 100px;
  margin-bottom: 40px;
  text-align: center;
  & > span {
    padding: 10px 20%;
    display: inline-block;
    border-top: 1px solid $grey-dark;
    border-bottom: 0;
    color: $grey-dark;
  }
}